@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  padding: 1em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* tarot arc styles */
.card {
  perspective: 1000px;
  
}

.flip {
  transform-style: preserve-3d;
  animation: flip-card 0.6s forwards;
}

.flipping {
  transition: transform 0.6s ease-in-out;
}

@keyframes flip-card {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
